<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p> 
        Splurty was built by <a target="_blank" href="http://bonniekilpatrick.getforge.io/">Bonnie</a> and the awesome teachers at <a target="_blank" href="http://www.thefirehouseproject.com/">The Firehose Project</a>.
        Bonnie is learning to be a rock star full-stack developer through this intense 22 week course. 
    </p>
    
    <p>
        If you want to drink from the firehose and learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.  
    </p>
    
    <br class="clear" />
    
    <div class="row">
        <div class="col-12 col-sm-4" style="padding-top:30px;">
            <%= image_tag 'bonnie.JPG', class: 'img-fluid' %>
        </div>
        
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Bonnie Kilpatrick</h2>
            <br />
            <p>
                Bonnie is a serial entreprenuer who has a passion for bringing ideas to life and has been involved in numerous startups. In her most recent corporate role, she was a Division Director at The Creative Group in Robert Half. In this role she recruited and placed top developers and creative talent; as well as managed a team of recruiters. Prior to that, she founded and ran a digital agency where she partnered with fantastic developers and designers to create websites, apps,and digital marketing for a variety of clients.
                Now, she is excited to take the next step in her career and start building her own websites and applications!!
            </p>
        </div>
    </div>
    
</div>

<br class="clear" />
<br />
<br />
<br />
<br />